.main-cart {
  .cart-container {
    .buy-modal-window {
      z-index: 99;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(13, 13, 13, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;

      .modal-content {
        padding: 1%;
        border: 1px solid $main-color;
        border-radius: 0.5rem;
        width: 40%;
        background-color: #181a1c;
        z-index: 99;
        position: absolute;

        .modal-form {
          height: -moz-fit-content;
          height: fit-content;

          .person-details {
            width: 90%;
            margin: auto;

            .person-details__title {
              text-align: center;
              margin: 0 auto;
              font-size: 90%;
            }

            .form-item {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              .form-item__input {
                background-color: #181a1c;
                width: 100%;
                border: 1px solid $main-color;
                color: $main-color;
                border-radius: 2rem;
                padding: 0.4rem;
                outline: none;
                font-size: 90%;
                text-align: center;
                margin: 2% auto;
              }
            }
          }

          .card-details {
            margin-top: 1%;
            width: 100%;

            .card-details__title {
              text-align: center;
              margin: 0 auto;
              margin-bottom: 2%;
              font-size: 90%;
            }

            .card-data {
              border: 1px solid $subtext-color;
              margin: 0 auto;
              border-radius: 0.5rem;
              background: rgb(0, 9, 36);
              background: linear-gradient(90deg, rgb(0, 9, 36) 6%, rgb(9, 9, 121) 34%, rgb(0, 212, 255) 100%);
              width: 55%;
              height: 7rem;

              .card-number {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 7% auto 10%;

                .card-logo {
                  background-color: #fff;
                  width: 10%;
                  border-radius: 0.3rem;
                  padding: 0.3rem;
                }

                .card-number__input {
                  width: 80%;
                  background: rgb(233, 233, 202);
                  border: 1px solid $subtext-color;
                  border-radius: 0.3rem;
                  outline: none;
                  text-align: center;
                  margin-left: 2%;
                  font-size: 90%;
                  color: #000;
                  font-weight: 700;
                }
              }

              .other-card-data {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 90%;
                margin: 0 auto;
                margin-bottom: 5%;

                .valid-data,
                .cvv-data {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 50%;

                  .valid-data__input {
                    background: rgb(233, 233, 202);
                    border: 1px solid $subtext-color;
                    border-radius: 0.3rem;
                    outline: none;
                    text-align: center;
                    margin-left: 2%;
                    color: #000;

                    font-weight: 700;
                    font-size: 130%;
                    width: 60%;
                    height: 1rem;
                  }
                }
              }
            }
          }

          .card-submit-button {
            width: 40%;
            font-size: 90%;
            background-color: rgba(77, 112, 148, 0.5);
            border: 1px solid $main-color;
            border-radius: 0.5rem;
            padding: 1%;
            cursor: pointer;
            display: block;
            margin: 5% auto;
            color: $text-color;
            transition: transform 0.1s ease-in-out;

            &:hover {
              cursor: pointer;
              transform: scale(1.05);
              border-color: #51dd61;
            }

            &:active {
              background: $main-color;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
