.main-cart {
  min-height: 82vh;
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
  font-family: 'Solway';
  color: $text-color;
  // box-sizing: border-box;

  &::before {
    content: '';
    background: url(../assets/backgrounds/background-4.webp) no-repeat center top/cover;
    position: fixed;
    left: 0;
    right: 0;
    top: -5px;
    bottom: 0;
    z-index: -1;
  }

  .cart-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;

    .cart-wrapper {
      width: 95%;
      display: flex;
      justify-content: space-between;

      .cart-products {
        width: 69%;
        border: 1px solid $main-color;
        overflow: hidden;
        border-radius: 0.5rem;
        // background-color: #1c1e1b80;
        background: rgba(24, 26, 28, 0.5);
        height: -moz-fit-content;
        height: fit-content;

        .title-and-page-control {
          display: flex;
          // background-color: #181a1c;
          background: rgba(24, 26, 28, 0.5);
          padding: 0.3rem;
          border-bottom: 1px solid $main-color;
          align-items: center;
          justify-content: space-between;

          .cart-title {
            font-size: 130%;
          }

          .page-control {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .cart-limit {
              color: $subtext-color;
              text-align: end;

              .cart-limit__input {
                text-align: center;
                outline: none;
                border: 1px solid $main-color;
                border-radius: 0.2rem;
                // background-color: #373636;
                background: rgba(24, 26, 28, 0.5);
                font-size: 140%;
                color: $text-color;
                width: 30%;
                -moz-appearance: textfield;
                -webkit-appearance: textfield;
                appearance: textfield;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                  display: none;
                }
              }

              .number-plus-minus {
                width: 6%;
                padding: 0;
                text-align: center;
                border: 1px solid $main-color;
                border-radius: 0.2rem;
                background: rgba(24, 26, 28, 0.5);
                font-size: 140%;
                font-weight: 600;
                color: $main-color;
                transition: transform 0.1s ease-in-out;

                &:hover {
                  cursor: pointer;
                  transform: scale(1.05);
                  border-color: #51dd61;
                }

                &:active {
                  background: $main-color;
                  color: #ffffff;
                }
              }
            }

            .page-numbers {
              margin-left: 2rem;
              color: $subtext-color;

              .page-number-button {
                background: rgba(24, 26, 28, 0.5);
                cursor: pointer;
                border: 1px solid $main-color;
                border-radius: 0.2rem;
                padding: 0.1rem;
                font-size: 140%;
                color: $main-color;
                transition: transform 0.1s ease-in-out;

                &:hover {
                  cursor: pointer;
                  transform: scale(1.05);
                  border-color: #51dd61;
                }

                &:active {
                  background: $main-color;
                  color: #ffffff;
                }
              }

              .cur-page-number {
                font-size: 140%;
                margin: 0 0.5rem;
                color: $text-color;
              }
            }
          }
        }

        .cart-products-items {
          width: 100%;
          color: $text-color;

          .cart-product-item-container {
            width: 100%;
            display: block;
            padding: 0.5%;
            border-bottom: 1px solid $text-color;

            &:last-child {
              border: none;
            }

            .cart-item {
              display: flex;
              align-items: center;
              justify-content: space-around;
              // height: 6rem;

              .cart-item__number {
                width: 3%;
                text-align: center;
                border: 1px solid $main-color;
                border-radius: 5rem;
                background: rgba(24, 26, 28, 0.5);
              }

              .cart-item__info {
                width: 80%;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: center;

                .cart-item__image {
                  width: 15%;
                  height: 100%;
                  border-radius: 0.5rem;
                  border: 0.2px solid $main-color;
                }

                .cart-item__detail {
                  width: 80%;
                  height: 100%;
                  padding: 1%;

                  .cart-item__title {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-shadow: 0 0 5px rgb(88, 68, 68), 0 0 2px $subtext-color, 0 0 3px $subtext-color,
                      0 0 5px $subtext-color;
                    border-bottom: 1px solid $subtext-color;

                    .cart-item__title-text {
                      color: $subtext-color;
                      padding-bottom: 1%;
                    }
                  }

                  .cart-item__description {
                    padding-top: 1%;
                    font-size: 80%;
                    text-align: center;
                  }

                  .cart-item__others {
                    padding-top: 1%;
                    display: flex;
                    align-items: end;
                    justify-content: space-around;

                    & > div {
                      color: $subtext-color;
                      font-size: 80%;
                    }
                  }
                }
              }

              .number-control {
                width: 15%;

                .cart-stock-control {
                  display: flex;
                  color: $subtext-color;
                  align-items: center;
                  justify-content: center;
                  margin: 7%;
                }

                .incDec-control {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  font-size: 150%;

                  .incDec-control__button {
                    width: 2rem;
                    height: 2rem;
                    // background-color: #181a1c;
                    background: rgba(24, 26, 28, 0.7);
                    border-radius: 10rem;
                    font-size: 150%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    cursor: pointer;
                    border: 1px solid $main-color;
                    color: $main-color;
                    transition: transform 0.1s ease-in-out;

                    &:hover {
                      cursor: pointer;
                      transform: scale(1.15);
                      border-color: #51dd61;
                    }

                    &:active {
                      background: $main-color;
                      color: #ffffff;
                    }
                  }
                }

                .cart-amount-control {
                  display: flex;
                  color: $subtext-color;
                  align-items: center;
                  justify-content: center;
                  margin: 7%;
                }
              }
            }
          }
        }
      }

      @mixin code-drop-button {
        background: rgba(24, 26, 28, 0.5);
        cursor: pointer;
        border: 1px solid #08ac68;
        border-radius: 0.2rem;
        padding: 0.1rem;
        font-size: 85%;
        color: #08ac68;
        margin: 0 2%;
        transition: transform 0.1s ease-in-out;

        &:hover {
          cursor: pointer;
          transform: scale(1.1);
          border-color: #51dd61;
        }

        &:active {
          background: $main-color;
          color: #ffffff;
        }
      }

      .cart-total {
        width: 30%;
        border: 1px solid $main-color;
        overflow: hidden;
        border-radius: 0.5rem;
        // background-color: #1e1b1b80;
        background: rgba(27, 27, 30, 0.5);
        height: -moz-fit-content;
        height: fit-content;

        .cart-total__title {
          text-align: center;
          font-size: 130%;
          background: rgba(24, 26, 28, 0.5);
          padding: 0.3rem;
          border-bottom: 1px solid $main-color;
        }

        .total-value {
          width: 90%;
          font-size: 170%;
          color: $text-color;
          text-align: center;
          margin: 4%;

          .total-value__title {
            font-size: 90%;
            color: $subtext-color;
          }
        }

        .old-price {
          text-decoration: line-through;
        }

        .appl-codes {
          width: 85%;
          margin: 6% auto;
          border: 1px solid $main-color;
          border-radius: 0.3rem;
          overflow: hidden;

          .appl-codes__title {
            text-align: center;
            background: rgba(24, 26, 28, 0.5);
            border-bottom: 1px solid $main-color;
          }

          .applied-promo {
            color: $text-color;
            text-align: center;
            border-bottom: 1px solid $main-color;
            padding: 2% 0;
            display: flex;
            justify-content: center;

            &:last-child {
              border: 0;
            }
          }

          .code-drop-button {
            @include code-drop-button;
          }
        }

        .promo-code {
          display: flex;
          align-items: center;
          justify-content: center;

          .promo-code__input {
            // background-color: #181a1c;
            background: rgba(24, 26, 28, 0.5);
            width: 70%;
            border: 1px solid $main-color;
            color: $text-color;
            border-radius: 2rem;
            padding: 0.4rem;
            text-align: center;
            outline: none;
            font-size: 100%;
          }
        }

        .res-promo {
          margin-top: 3%;
          text-align: center;

          .code-add-button {
            @include code-drop-button;
          }
        }

        .promo-example {
          display: block;
          margin: 3% auto;
          text-align: center;
          color: #78159b;
        }

        .cart-total__button {
          display: block;
          width: 50%;
          margin: 3rem auto 1rem;
          background-color: rgba(24, 26, 28, 0.5);
          border: 2px solid $main-color;
          border-radius: 0.3rem;
          padding: 2% 0;
          font-size: 100%;
          cursor: pointer;
          color: $text-color;
          transition: transform 0.1s ease-in-out;

          &:hover {
            cursor: pointer;
            transform: scale(1.05);
            border-color: #51dd61;
          }

          &:active {
            background: $main-color;
            color: #ffffff;
          }
        }
      }
    }
  }
}
